<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <hr />
    <form name="form" (ngSubmit)="f.form.valid&&onLoginSubmit()"
          #f="ngForm"
          novalidate
    >
      <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="form.username" name="username" placeholder="Username" required
        #username="ngModel"/>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          <div *ngIf="username.errors.required">username is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          name="password" placeholder="password"
          required
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors.required">Password is required</div>
      </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
