<mat-toolbar>
  <span>{{service.form.controls['id'].value?"Edit Sensor":"Add Sensor"}}</span>
  <span class="fill-remaing-space"></span>
<button class="btn-dialog-close" mat-stroked-button (click)="back()" tabindex="-1" > </button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onAddPost()">
  <mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile>
      <div class="control-container">
        <input type="hidden" formControlName="id" >
        <mat-form-field>
          <input formControlName="name" matInput="Name" placeholder=" Name*">
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="sensorModel" matInput="Model" placeholder="Model*">
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="locations" matInput="location" placeholder="Location">
        </mat-form-field>
        <mat-form-field>
        <mat-select formControlName="sensorType" placeholder="Type">
          <mat-option>none</mat-option>
          <ng-container *ngFor="let type of types">
          <mat-option value="{{type.id}}">{{type.value}} </mat-option>
          </ng-container>
        </mat-select>
        </mat-form-field>
        <mat-form-field>
        <mat-select formControlName="modelUnit" placeholder="Unit">
          <mat-option>none</mat-option>
          <ng-container *ngFor="let type of units">
            <mat-option value="{{type.id}}">{{type.value}} </mat-option>
          </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="startPoint" placeholder="from">
            <mat-option>none</mat-option>
            <ng-container *ngFor="let type of nums">
              <mat-option value="{{type}}">{{type}} </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="endPoint" placeholder="to">
            <mat-option>none</mat-option>
            <ng-container *ngFor="let type of nums">
              <mat-option value="{{type}}">{{type}} </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="mb-3">
          <label>Description</label>
          <textarea class="form-control" formControlName="description"></textarea>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add/Edit</button>
          <button mat-raised-button color="warn" (click)="back()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<!--name: string;-->
<!--sensorModel:string;-->
<!--startPoint:number;-->
<!--endPoint:number;-->
<!--sensorType:string;-->
<!--modelUnit:string;-->
<!--locations:string;-->
<!--description:string;-->
