<form [formGroup]="form" class="normal-form" >
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="control-container">
        <input type="hidden" formControlName="$key" >
        <mat-form-field>
          <input formControlName="name" matInput="Name" placeholder="Enter Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="sensorModel" matInput="Model" placeholder="SensorModel">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="startPoint" matInput="s" placeholder="Start Point">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="endPoint" matInput="e" placeholder="End Point">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="locations" matInput="location" placeholder="Location">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
    <div class="control-container">
      <mat-form-field>
        <div>
        <mat-select formControlName="sensorType" placeholder="Type">
          <mat-option>none</mat-option>
          <ng-container *ngFor="let type of types">
          <mat-option value="{{type.id}}">{{type.value}} </mat-option>
          </ng-container>
        </mat-select>
        </div>
        <div>
        <mat-select formControlName="modelUnit" placeholder="Model">
          <mat-option>none</mat-option>
          <ng-container *ngFor="let type of types">
            <mat-option value="{{type.id}}">{{type.value}} </mat-option>
          </ng-container>
        </mat-select>
        </div>
      </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<!--name: string;-->
<!--sensorModel:string;-->
<!--startPoint:number;-->
<!--endPoint:number;-->
<!--sensorType:string;-->
<!--modelUnit:string;-->
<!--locations:string;-->
<!--description:string;-->
