@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.control-container{
  width:100%;
  padding:5%;
}

mat-footer-row mat-footer-cell{
  justify-content:center;
  font-style:italic;
}
.kek {
  margin-left: 10px;
  margin-top: 30px;

}
